@charset "UTF-8";
/* Colors */
/* Background images */
/* Font family */
/* Elements size */
/* Z-index */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * A simple, design-free button object. Extend this object with a `.btn--*` skin
 * class.
 */
.btn {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: 600;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
.btn:hover {
  cursor: pointer;
  text-decoration: none; }

/**
 * Positive buttons’ skin. Extends `.btn`.
 */
.btn--positive {
  border: 3px solid #ffe18f;
  background-color: transparent;
  color: #fff; }
.btn--positive:hover, .btn--positive:active {
  background-color: #ffe18f;
  color: #3e3b4a; }

/**
 * Negative buttons’ skin. Extends `.btn`.
 */
.btn--negative {
  border: 3px solid #ffe18f;
  background-color: #ffe18f;
  color: #3e3b4a; }
.btn--negative:hover, .btn--negative:active {
  background-color: transparent;
  color: #fff; }

a, a:hover, a:active {
  color: #ffe18f; }

a {
  text-decoration: none; }
a:hover {
  text-decoration: underline; }

h1, h2, h3, h4 {
  line-height: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.35em; }

h1 {
  font-size: 4.5em;
  font-weight: 800; }

h2 {
  font-size: 3em;
  font-weight: 800; }

h3 {
  font-size: 2.25em;
  font-weight: 600; }

h4 {
  font-size: 2em;
  font-weight: 300; }

p {
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.label {
  font-size: 0.8125em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25em; }

.copyright {
  font-size: 0.875em;
  font-weight: 400;
  opacity: .4; }

@media (min-width: 1024px) {
  p {
    font-size: 1.3125em;
    font-weight: 300; } }
input {
  margin-bottom: 1em;
  padding: 0.75em 0.5em;
  box-sizing: border-box;
  font-size: 1em; }

input[type="email"] {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  border: 5px solid #fff;
  background: transparent;
  opacity: 0.8; }

input[type="button"] {
  display: block;
  width: 100%;
  color: #fff;
  border: 0;
  background: #66689c; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  color: #fff; }

.menu {
  float: left; }
.menu:hover {
  cursor: pointer; }
.menu .menu--buttonShow {
  padding: 0;
  font-size: 0.8125em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 0.15em;
  color: #898691;
  border: 0;
  background: none; }
.menu .menu--buttonShow [class^="icon-"], .menu .menu--buttonShow [class*=" icon-"] {
  vertical-align: bottom; }
.menu .menu--items {
  position: fixed;
  width: 240px;
  height: 100%;
  padding: 20px;
  top: 0;
  left: -240px;
  z-index: 100;
  background: #ffe18f;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.menu .menu--items.menu--open {
  left: 0; }
.menu .menu--item {
  display: block; }
.menu .menu--item a {
  font-size: 2em;
  font-weight: 600;
  line-height: 2em;
  color: #3e3b4a; }
.menu .menu--item:hover {
  cursor: pointer; }

.search {
  float: right; }
.search .search--buttonShow {
  padding: 0;
  font-size: 0.8125em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 0.15em;
  color: #898691;
  border: 0;
  background: none; }
.search .search--buttonShow [class^="icon-"], .search .search--buttonShow [class*=" icon-"] {
  vertical-align: bottom; }
.search .search--form {
  display: none;
  overflow: hidden; }
.search .search--form::after {
  clear: both;
  content: "";
  display: table; }
@media (min-width: 1024px) {
  .search .search--form {
    max-width: 1024px;
    margin: 0 auto; } }
.search .search--form.show {
  display: block;
  position: absolute;
  left: 30px;
  right: 30px;
  z-index: 101; }
.search .search--input {
  position: relative;
  top: -50px;
  width: 100%;
  font-size: 1.3125em;
  font-weight: 300;
  padding: 10px 5px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
.search .search--input.animate {
  top: 0; }
.search .icon--search {
  float: right; }

/**
 * A simple, design-free icon object. Extend this object with a `.icon--*` skin
 * class.
 */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  line-height: 32px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat; }

.icon--facebook {
  background-image: url("../images/icons/icon-facebook.png"); }

.icon--twitter {
  background-image: url("../images/icons/icon-twitter.png"); }

.icon--menu {
  background-image: url("../images/icons/icon-menu.png"); }

.icon--search {
  background-image: url("../images/icons/icon-search.png"); }

header {
  padding: 0 30px;
  box-sizing: border-box; }
@media (min-width: 1024px) {
  header {
    max-width: 1024px;
    margin: 0 auto; } }
header .branding {
  padding: 35px 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }
header .branding span {
  display: block;
  margin: 0 0.25em;
  font-size: 0.25em;
  font-family: "Old Standard TT", serif;
  font-weight: 300;
  text-transform: none;
  color: #898691; }
header .navbar {
  margin-bottom: 30px; }
header .navbar::after {
  clear: both;
  content: "";
  display: table; }

.home, .accessories, .camerasReview, .soundReview, .cameras {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top; }

.home .container__inner .btn, .accessories .container__inner .btn, .cameras .container__inner .btn {
  position: absolute;
  bottom: 0; }

.camerasReview .container__inner, .soundReview .container__inner {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

main {
  padding: 0 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
@media (min-width: 1024px) {
  main {
    max-width: 1024px;
    margin: 0 auto; } }

.container {
  padding: 1.25em;
  margin-bottom: 1.25em;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%; }

.container__inner {
  position: relative;
  min-height: 400px; }
.container__inner .label {
  color: #ffc7b0; }

/* We rely on source order for mobile-first approach
 * in Main case:
 * 1  home
 * 2  accessories
 * 3  cameras review
 * 4  sound review
 * 5  cameras
 * 6  newsletter
 */
.home {
  background-image: url("../images/visuals/home-small.png");
  background-position-x: right; }
.home p {
  font-size: 1.3125em; }
@media (min-width: 768px) {
  .home {
    background: url("../images/visuals/home-medium.png") left top no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1; } }
@media (min-width: 1024px) {
  .home .container__inner {
    max-width: 320px; } }

.accessories {
  background-color: #71b6c3;
  background-image: url("../images/visuals/accessories.png");
  background-position-x: 33%; }
@media (min-width: 768px) {
  .accessories {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2; } }
@media (min-width: 1024px) {
  .accessories {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 589px;
    -moz-flex: 0 589px;
    -ms-flex: 0 589px;
    flex: 0 589px; }
  .accessories .container__inner {
    max-width: 220px; } }

.camerasReview {
  background-image: url("../images/visuals/cameras-review.png"); }
@media (min-width: 768px) {
  .camerasReview {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -webkit-order: 3;
    -moz-order: 3;
    order: 3;
    -ms-flex-order: 3; }
  .camerasReview .container__inner {
    min-height: 300px;
    text-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .camerasReview h2 {
    font-size: 2.25em; }
  .camerasReview .btn {
    font-size: 1em; } }
@media (min-width: 1024px) {
  .camerasReview {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    box-ordinal-group: 4;
    -webkit-order: 4;
    -moz-order: 4;
    order: 4;
    -ms-flex-order: 4; }
  .camerasReview .container__inner {
    min-height: 400px; } }

.soundReview {
  background-image: url("../images/visuals/sound-review.png"); }
@media (min-width: 768px) {
  .soundReview {
    margin-left: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    box-ordinal-group: 4;
    -webkit-order: 4;
    -moz-order: 4;
    order: 4;
    -ms-flex-order: 4; }
  .soundReview .container__inner {
    min-height: 300px;
    text-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .soundReview h2 {
    font-size: 2.25em; }
  .soundReview .btn {
    font-size: 1em; } }
@media (min-width: 1024px) {
  .soundReview {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    box-ordinal-group: 5;
    -webkit-order: 5;
    -moz-order: 5;
    order: 5;
    -ms-flex-order: 5; }
  .soundReview .container__inner {
    min-height: 400px; } }

.cameras {
  background-color: #1ab467;
  background-image: url("../images/visuals/cameras.png");
  background-position-x: left; }
@media (min-width: 768px) {
  .cameras {
    background-position: center center;
    background-size: cover;
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    box-ordinal-group: 6;
    -webkit-order: 6;
    -moz-order: 6;
    order: 6;
    -ms-flex-order: 6; } }
@media (min-width: 1024px) {
  .cameras {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-left: 20px; }
  .cameras .container__inner {
    max-width: 220px; } }

.newsletter {
  background-color: #eb7b61; }
.newsletter h2:after {
  content: '...';
  display: block;
  width: 100%;
  margin-top: 1em;
  line-height: 1em;
  letter-spacing: 0.75em;
  font-size: 0.29167em; }
.newsletter .information {
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif; }
.newsletter .container__inner {
  min-height: auto; }
@media (min-width: 768px) {
  .newsletter {
    margin-left: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    box-ordinal-group: 5;
    -webkit-order: 5;
    -moz-order: 5;
    order: 5;
    -ms-flex-order: 5; }
  .newsletter .container__inner {
    min-height: 300px; }
  .newsletter h2 {
    font-size: 2.25em; } }
@media (min-width: 1024px) {
  .newsletter {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 375px;
    -moz-flex: 0 375px;
    -ms-flex: 0 375px;
    flex: 0 375px;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -webkit-order: 3;
    -moz-order: 3;
    order: 3;
    -ms-flex-order: 3; }
  .newsletter h2 {
    font-size: 3em; } }

footer {
  padding: 0 30px;
  margin: 3em 0 1em;
  box-sizing: border-box; }
@media (min-width: 1024px) {
  footer {
    max-width: 1024px;
    margin: 0 auto; } }
footer .copyright, footer .social, footer .social li {
  display: inline-block; }
footer .copyright {
  line-height: 32px; }
footer .social {
  float: right; }

body {
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #3e3b4a;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body.push {
  left: 240px;
  overflow-x: hidden; }
body.no-scroll {
  overflow: hidden; }

*:focus {
  outline: none; }

.center {
  text-align: center; }

.serif {
  font-family: "Old Standard TT", serif; }

.information {
  display: block;
  font-size: 0.875em;
  padding: 0.35em 0; }

.hidden {
  display: none;
  visibility: hidden; }

.overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: transparent;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.overlay.show {
  opacity: 1;
  z-index: 100;
  background: rgba(62, 59, 74, 0.9); }
