footer{
  padding: 0 30px;
  margin: 3em 0 1em;
  box-sizing: border-box;
  @include large-screen-view;

  .copyright,
  .social,
  .social li{
    display: inline-block;
  }

  .copyright{
    line-height: 32px;
  }

  .social{
    float: right;
  }
}